@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Welcome</h1>
    <p>See the <a asp-controller="Timesheets" asp-action="Items">Timesheets</a> for Dylan Cassell (8683791)</p>
</div>
